# Example snippets for the standalone accelerometer rotation extension

[adxl345]
cs_pin: some_mcu:gpio1
axes_map: x, y, z
axes_rotation: 0, 0, 45

#[lis2dw]
#cs_pin: some_mcu:gpio1
#axes_map: x, z, y
#axes_rotation: 15, 0, 0

#[mpu9250 my_accel]
#i2c_mcu: rpi
#i2c_bus: i2c.1
#axes_map: x, y, z
#axes_rotation: 0, -30, 0
